<div class="container pt-32 mb-10 mx-auto h-full">
  <h1 class="text-xl">勘検定</h1>
  <div class="text-center text-4xl py-10">
    <p><%= @place.title.upcase %>級</p>
  </div>
  <div class="py-5 text-right text-xl underline underline-offset-1">
    <p>氏名：<%= current_user.name %></p>
  </div>
  
    <% @quizzes.each_with_index do |quiz|%>
      <div class="py-5 pl-5 my-5 text-xl border-solid border-2 border-stone-500 rounded-lg">
        <%= quiz.content %>
          <div class="pt-10 px-10 flex items-center justify-center space-x-10">
            <% quiz.quiz_choices.each do |choice| %>

              <%= choice.content %>
            <% end %>
          </div>
      </div>
    <% end %>

</div>