<p><%= @user.name %>様</p>

<p>平素より勘検定をご利用いただき、誠にありがとうございます。</p>

<p>パスワード再発行のご依頼を受け付けました。<br>
  こちらのリンクからパスワードの再発行を行なってください。<br>
  <%= link_to t('defaults.request_password_reset'), @url %>
</p>

<p>今後も皆様に楽しいと思えるサービスを作り続けて参りますので、勘検定をどうぞよろしくお願い致します。</p>

<p>勘検定カスタマーサービス</p>

