<footer class="bg-color-400 mb-0 bottom-0 py-5 w-screen font-sans">
  <div class="flex justify-center space-x-2 footer ">
    <%= link_to t('top_pages.terms.title'), terms_path %>
    <%= link_to t('top_pages.policy.title'), policy_path %>
    <%= link_to "お問い合わせ", "https://forms.gle/GxrbtFnuvVDuSXtNA" %>
  </div>
  <div class="flex justify-center pt-5 text-white text-sm">
    <p>Copyright © 2023 - 勘検定</p>
  </div>
</footer>
