<footer class="bg-color-400 mb-0 bottom-0 py-5 w-screen font-sans">
  <div class="flex justify-center space-x-2 footer ">
    <%= link_to "利用規約"%>
    <%= link_to "プライバシーポリシー"%>
    <%= link_to "お問い合わせ"%>
  </div>
  <div class="flex justify-center pt-5 text-white text-sm">
    <p>Copyright © 2023 - Kan Kentei</p>
  </div>
</footer>
