<div class="page h-full">
  <div class="container pt-32 mb-10 mx-auto">
  <h1>コメントの編集</h1>
    <%= render 'form', category: @category, souvenir: @souvenir, test_comment: @test_comment %>
  </div>
</div>