<%= content_for(:title, t('.title')) %>
<div class="page">
  <div class="pt-32 md:text-3xl text-2xl mx-auto text-center">
    <h1>コメント編集</h1>
    <div class="pt-20">
      <%= render 'form', category: @category, souvenir: @souvenir, test_comment: @test_comment %>
    </div>
  </div>
</div>