<div class="page h-full">
  <div class="container pt-32 mb-10 mx-auto">
    <div class="text-xl">
      <p><%= current_user.name %>さんへのお土産は<%= @souvenir.name %>です。</p>
      <p><%= t('.congrats_again') %></p>
    </div>
    <%= render 'form', category: @category, souvenir: @souvenir, test_comment: @test_comment %>
  </div>
</div>


    
