<%= content_for(:title, t('.title')) %>
<div class="background-image">
  <div class="container pt-32 md:text-3xl text-2xl mx-auto text-center">
    <h1>合格証明書</h1>
    <div class="pt-20">
      <%= render @test_comment, category: @category, souvenir: @souvenir %>
    </div>
  </div>
  <div class="flex justify-center pb-10 pt-5">
    <%= link_to t('.buddy'), category_test_comments_path(@category), class:"btn primary btn-lg bg-zinc-700 text-white" %>
  </div>
</div>


    
