<div class="page h-full">
  <div class="container pt-32 mb-10 mx-auto">
    <h1>合格証明書</h1>
    <%= render @test_comment, category: @category, souvenir: @souvenir %>
  </div>
  <div class="flex justify-center">
    <%= link_to t('defaults.back'), passed_lists_path, class: "btn btn-lg btn-outline"%>
  </div>
</div>


    
