<%= content_for(:title, t('.title')) %>
<div class="page">
  <div class="container pt-32 md:text-3xl text-2xl mx-auto text-center">
    <h1>合格証明書</h1>
    <div class="pt-20">
      <%= render @test_comment, category: @category, souvenir: @souvenir %>
    </div>
  </div>
  <div class="flex justify-center pb-10">
    <%= link_to t('defaults.back'), passed_lists_path, class: "btn btn-lg btn-outline"%>
  </div>
</div>


    
